
.principal {
    width: 1350px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;

}

.carrinho-de-compras {
    background: #000000;
    mix-blend-mode: hard-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    width: 1100px;
    height: 580px;
    max-width: 89%;
    display: inline-flex;
    justify-content: space-around;
}

.left {
    width: 280px;
    max-width: 23%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 55vh;
    padding-top: 50px;
}

.left h1 {
    color: #ffcd39;
    height: 12vh;
    text-align: center;
    text-transform: uppercase;
}

#comprar-mais button p, #finalizar-compra button p, #voltar button p  {
    color: black;
}


/*      CAIXA DE ITENS      */

.right {
    width: 650px;
    max-width: 54.16%;
    height: 70vh;
    background-image: radial-gradient(
        at 88% 0%,
        hsla(327, 67%, 64%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 63% 46%, hsla(307, 76%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 95% 53%, hsla(89, 91%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 83%, hsla(170, 86%, 65%, 1) 0px, transparent 50%),
      radial-gradient(at 74% 93%, hsla(71, 93%, 75%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 13%, hsla(110, 83%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 30% 80%, hsla(263, 79%, 66%, 1) 0px, transparent 50%);
      display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    border-radius: 25px;
}

.right div {
    border-radius: 10px;
    text-align: center;
}

.linha1, .linha2, .linha3 {
    width: 520px;
    max-width: 80%;
    display: inline-flex;
    align-self: center;
    justify-content: space-between;
}

.linha4 {
    width: 520px;
    /* max-width: 74,61%; */
    display: inline-flex;
    align-self: center;
    justify-content: flex-start;
    /* justify-content: flex-start; */
}

.linha5, .linha6, .linha7 {
    display: flex;
    justify-content: center;
}

#produto1, #produto2, #produto3 {
    width: 200px;
    max-width: 38%;
    flex-grow: 0.38;
    background: #ffffff;
}

#quantidade1, #quantidade2, #quantidade3 {
    width: 104px;
    max-width: 20%;
    flex-grow: 0.2;
    background: #ffffff;
}

#valor-item1, #valor-item2, #valor-item3 {
    width: 104px;
    max-width: 20%;
    flex-grow: 0.2;
    background: #ffffff;
}

#lixeira1, #lixeira2, #lixeira3 {
    width: 52px;
    max-width: 10%;
    flex-grow: 0.1;
    align-self: flex-end;
}

#lixeira1 button, #lixeira2 button, #lixeira3 button {
    border: none;
    cursor: pointer;
}

#calculo-frete {
    width: 320px;
    max-width: 65,97%;
    background: #ffffff;
}

#valor-frete {
    width: 100px;
    /* max-width: 19.23%; */
    margin-left: 26px;
    background: #ffffff;
}

#total {
    height: 60px;
    width: 200px;
    max-width: 50%;
    background: #ffffff;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button p {
    display: flex;
    padding-top: 7px;
}

#comprar-mais button {
    background-color: rgb(34, 161, 61);
    border: none;
    border-radius: 10px;
    padding: 3px;
}

#finalizar-compra button {
    background: #ffcd39;
    border: none;
    border-radius: 10px;
    padding-top: 2px;
}









