.automatic-sliding {
    width: 900px;
    align-items: center;
    transform: translate(-28%, -150%);
    overflow: hidden;
    border: 10px solid #000000;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
}

div#slide {
    overflow: hidden;
}

div#slide figure img {
    width: 20%;
    float: left;
}

div#slide figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s sliding ease infinite;
}
.indicator{
    width: 100%;
    max-width: 900px;
    height: 8px;
    background: #e41b17;
    position: absolute;
    bottom: 0;
    animation: indicating 5s ease infinite; 
}

@keyframes sliding{
    0%{left: 0%; }
    20%{left: -100%;}
    40%{left: -200%;}
    60%{left: -300%;}
    80%{left: -400%;}
    100%{left: 0%;}
}        

@keyframes indicating{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}

.destaques {
    padding-top: 100px;
    font-size: 100px;
    font-style: italic;
    transform: translate(90%, -600%);
}

.retangulo-base {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #25262C;
}

.carrossel {
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body{       /*config das fontes do body*/
    justify-content: center;
    
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    flex-direction: column;
}

.zoomSlider {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoomSlider:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
