main {
    display: flex;
    justify-content: center;
}
.principal{     /*classe principal e pai das containers (Posicionamento do Quadrado preto)*/
    width: 590px;
    height: 600px;
    background-color: #000000;
    margin: 120px 0 120px 20px;
}


h2{
    margin: 0 388px 0px 130px;
    width: 320px;
    height: 120px;
    font-size: 50px;
    color: #FFD760;
    text-align: center;
    font-weight: bold;
}
.input {
    margin: 24px 92px;
    width: 381px;
    height: 61px;
    
}

/* comecar a copia aqui*/
.input input {
    margin: -20px 0px 0px 0px;
    width: 381px;
    height: 61px
}

.input label {
    color: #FFD760;
    margin: -200px 0px -20px 0px;
    width: 381px;
    height: 61px
}

.input2 input {
    margin: -200px 0px 0px 0px;
    width: 381px;
    height: 61px
}

.input2 label {
    background: #FFD760;
    margin: 0px 0px -20px 0px;
    width: 381px;
    height: 61px
}
.botao-salvar {
    margin: 27px 0px 0px 200px;
}

.botao-voltar{
    margin: 27px 0px 0px 200px;
}
.inscreva-se{                           /*Título*/
    margin-top: 35px;
    text-align: center;
    font-size: 50px;
    width: 500px;
    height: 100px;
    font-style: italic;
}

