.jogo {
    padding: 50px 100px 50px 0px;
}

.painel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 270px;
}

.campo-btns {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 450px;
    background: #000000;
    margin-right: 28px;
    border-radius: 45px;
}

h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bolder;
    margin: 90px 0px 0px 40px;
}

.preco {
    display: flex;
    margin-top: 63px;
    align-self: center;
    font-size: 40px;
    size: 80px;
    color: #000;
    font-weight: bold;
    padding: 15px 7px;
    background: #ffffff;
    margin-bottom: 40px;
    border-radius: 15px;
}

a:link {
    text-decoration: none;
   }
   
   a:hover {
    text-decoration: none;
    color: #000000;
   }

.btnscheckout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 38px;
    background: rgba(0, 255, 26, 0.68);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 50px 0 0 48px;
    font-weight: bold;
}