main {
    margin: 0px;
    padding: 0px;
}

.div-pai {
    width: 1297px;
    height: 732px;
    display: inline-flex;
}

.perfil-usuario {
    padding-left: 530px;
}

.paragrafo {                            /*Título dos dados*/
    width: 320px;
    height: 120px;
    font-size: 50px;
    color: #ffcd39;
    text-shadow: 2px 2px #000000;
    padding-left: 80px;
    padding-top: 50px;
    margin: 35px 67.5px 86px 58px; /*249px 72px 1599px 71px;*/
    display: inline-flex;
}

.meus-dados {                           /*Campo dos meus dados*/
    width: 381px;
    height: 61px;
    background-color: white;
    margin: 0px 48px 25px 48px;
    padding-top: 15px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.meu-endereço {                         /*Campo do meu endereço*/
    width: 381px;
    height: 61px;
    background-color: white;
    margin: 25px 48px 25px 48px;
    padding-top: 15px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.historico-pedido {                         /*Campo do histórico de pedidos*/
    width: 381px;
    height: 61px;
    background-color: white;
    text-align: center;
    margin: 25px 48px 25px 48px;
    padding-top: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.formulario {                           /*Caixa cinxa*/
    width: 759px;
    height: 633px;
    margin: 49.5px 48px 49.5px 48px;
}

.botao-salvar {                         /*Botão salvar*/
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    background-color: #00FF19;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 136px;
}

.botao-voltar {                         /*Botão voltar*/
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    background-color: #FF0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-left: 136px;
}