main {
    display: flex;
}
.principal {
    margin: 160px 0 160px 0;
    padding-top: 250px;
}

.tenho-conta{
    width: 320px;
    height: 120px;
    font-size: 50px;
    text-align: center;
    color: #FFD760;
}
.base2 {
    margin: -300px 388px 0px 635px;
}
.container2 {
    width: 400px;
    margin: -190px 0px 0px 0px;
}

.input2 {
    margin: 24px 600px;
    width: 381px;
    height: 61px
}

.input2 input {
    margin: -20px 0px 0px 0px;
    width: 381px;
    height: 61px;
}

.input2 label {
    margin: 0px 0px -20px 0px;
    width: 381px;
    height: 61px;
    color: #FFD760;
}

.botao-esqueci-a-senha{
    margin: 27px 0px 0px 710px;
}
.botao-entrar{
    margin: 27px 0px 0px 710px;
}