/* .checkout-pai{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
};

/* .title-checkout{
    font-size: 50px;
    color: #FFD760;
    margin-top: 15px;
    text-align: center;
    
}; */

.checkout-pai {
    /* display: flex; */
    
}

.item-list-checkout {
    width: 1200px;
    height: 550px;
    background-color: #25262C;
    mix-blend-mode: hard-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap;
    align-items: center; */
}

.itens {
    background-color: rgb(207, 196, 196);
    width: 800px;
    height: 60vh;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.linha1, .linha2, .linha3 {
    display: inline-flex;
    justify-content: space-around;
    margin-top: 20px;
    height: 5vh;
}

#item1, #item2, #item3 {
    background-color: white;
    width: 300px;
    
}

#botao-pedido1, #botao-pedido2, #botao-pedido3 {
    background-color: white;
    width: 70px;
}

#valor-item1, #valor-item2, #valor-item3 {
    background-color: white;
    width: 100px;
}

/* .itens {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:500px;
    height: 45vh;
    background-color:white;
}; */