@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.faixa {
    margin-right: 300px;
    background-color: #0d0d0d;
    margin-bottom: 2px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    padding-left: 200px;
}


/* BARRA DE BUSCA */
#txtBusca {
    background-color: #ffffff;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 60px;
    width: 500px;
    border-radius: 12.2791px;
    margin: 5px 30px 5px 30px;

}

#imagem-logo {
    width: 250px;
    height: 130px;
    margin: 30px 32px 24px 114px;
}

/* FALE CONOSCO */

.campo-ajuda {
    display: flex;
    justify-content: center;
    border-radius: 11px;
    margin: 16px 30px 16px 30px;
    height: 50px;
    width: 115px;
}

#fale-conosco {
    width: 147px;
    height: 40px;
    color: #ffffff;
    display: flex;
    margin-left: 25px;
    margin-bottom: 25px;
    padding: 15px 9px 19px 9px;
    text-decoration: none;
    font-size: 13px;
}

#seta {
    width: 50px;
    height: 50px;
    padding: 11px 9px 11px 9px;
}

/* CADASTRO/LOGIN */

#boneco {
    width: 50px;
    height: 50px;
    padding: 11px 9px 11px 9px;

}

.cadastro {
    display: flex;
    justify-content: center;
    border-radius: 11px;
    margin: 16px 30px 16px 30px;
    height: 50px;
    width: 170px;
}

.btn-three {
    width: 250px;
    height: 80px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 6px 9px 15px 9px;
    /* text-decoration: none; */
    font-size: 14px;
    /* text-align: center; */
}


/* CARRINHO DE COMPRAS */

#carrinho {
    background-color: #f2f2f2;
    border-radius: 12.2791px;
    margin: 16px 30px 16px 30px;
    width: 50px;
    height: 50px;
}

/* FAIXA AMARELA */

.segundafaixa {
    background-color: #0d0d0d;
    margin-bottom: 2px;
    margin-top: 100px;
    border-top: solid 2px #169eda;

}

/* estilizacao do menu completo*/
.menu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: -2px;
    border-bottom: solid 1px #0d0d0d;
    color: #0d0d0d;

}

.principal {
    border-radius: 50px;
}

html {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    
}

body {    
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    background-color: #0d0d0d;
}

main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    background-image: radial-gradient(
      at 88% 0%,
      hsla(327, 67%, 64%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 63% 46%, hsla(307, 76%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 95% 53%, hsla(89, 91%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 83%, hsla(170, 86%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 74% 93%, hsla(71, 93%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 13%, hsla(110, 83%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 30% 80%, hsla(263, 79%, 66%, 1) 0px, transparent 50%);
}

footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    background-color: #0d0d0d;
}

.base {
    background-color: #0d0d0d;
}

.destaques {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inscreva-se {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f2f2f2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tenho-conta {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f2f2f2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao-voltar {
    width: 153px;
    height: 41px;
    background: rgba(255, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.botao-esqueci-a-senha {
    width: 153px;
    height: 41px;
    background: rgba(255, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.botao-salvar {
    margin-top: 10px;
    width: 153px;
    height: 41px;
    background: rgba(0, 255, 25, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.botao-entrar {
    margin-top: 10px;
    width: 153px;
    height: 41px;
    background: rgba(0, 255, 25, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.botao-logout {
    margin-top: 10px;
    width: 153px;
    height: 41px;
    background: rgba(255, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.botao-continuar {
    margin-top: 10px;
    width: 153px;
    height: 41px;
    background: rgba(0, 255, 25, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.input label {
    color: #f2f2f2;
    text-shadow: white;
}
.input2 label {
    color: #f2f2f2;
    text-shadow: white;
}

/*estilização do menu*/
.nav-bar {
    padding: 3px 0px 0px 0px;
    color: #ffffff;
    width: 170px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    background-color: #f2f2f2;
    font-weight: bold;
    border-top: none;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/*estilização dos botões do menu*/
.fourth {
    border-color: #ffcd39;
    color: #0d0d0d;
    background-image: -webkit-linear-gradient(45deg, #ffcd39 50%, transparent 50%);
    background-image: linear-gradient(45deg, #ffcd39 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    border-radius: 5px;
    margin-top: 2px;
}

.fourth:hover {
    background-position: 0;
    color: #f2f2f2;
}

.fourth a {
    text-decoration: none;
    color: #0d0d0d;
}

/* estilo do botao fale-conosco e cadastro/login */
.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    cursor: pointer;
}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(49, 43, 43, 0.1);
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 11px;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

/* .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 11px;
    transform: scale(1.2, 1.2);
} */

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}


/* footer */

.logo-rodape {
    width: 150px;
    height: 100px;
}

.box-1 {
    width: 250px;
    height: 170px;
}

.sobre {
    font-size: 15px;
    color: #f2f2f2;
}

.titulos {
    font-size: 20px;
    color: #ffcd39;
}

.desenvolvedores {
    color: #f2f2f2;
}

.lista-desenvolvedores a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 15px;
}

.box-3 {
    width: 384px;
    height: 200px;
    display: inline-block;
    color: #0d0d0d;
}

.logodh {
    width: 120px;
    height: 30px;
}

.redes-sociais {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: #0d0d0d;
}

.icones-redessociais {
    display: flex;
    justify-content: space-around;
    color: #0d0d0d;
}

.redes-sociais img {
    width: 35px;
    height: 35px;
    margin-top: 12px;
}

.textoredesocial {
    color: #0d0d0d;
    font-size: 15px;
    width: 62px;
    height: 19px;
    margin: 18px 5px 0px 5.51px;
}

.rodape-total {
    display: flex;
    justify-content: space-between;
    margin: 0px 110px 0px 300px;
    padding-top: 60px;
}

/*Media queries */

@media  screen and (max-width: 480px) {

    /* Header*/

    header{
        height: 333px;
    }

    .segundafaixa{
        margin-top: 200px;
    }

    .faixa{
        display: flex;
        flex-wrap: wrap;
    }

    #imagem-logo{
        width: 140px;
        height: 80px;
        margin: -100px 0px 0px 0px;
    }

    #seta {
        display: none;
    }

    #fale-conosco{
        display: none;
    }

    #txtBusca {
        width: 190px;
        height: 30px;
        margin: 0;
        padding: 0;
    }

    .campo-ajuda{
        display:none;
    }

    #carrinho{
        width: 40px;
        height: 40px;
        padding:0px;
        margin:0px;

    }

    /*Footer */

    .logo-rodape {
        width: 150px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .box-1 {
        display:none;
        color: #0d0d0d;
    }
    
    .sobre {
        display:none;
    }
    
    .titulos {
        display:none;
    }
    
    .desenvolvedores {
        display:none;
    }
    
    .lista-desenvolvedores a {
        display:none;
    }
    
    .box-3 {
        display:none;
    }
    
    .logodh {
        width: 120px;
        height: 30px;
    }
    
    .redes-sociais {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        color: #0d0d0d;
    }
    
    .icones-redessociais {
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;
        border: 1px solid #0d0d0d;
        padding: 0px 0px 4px 0px;
        border-radius: 5px;
    }
    
    .redes-sociais img {
        width: 35px;
        height: 35px;
        margin-top: 12px;
    }
    
    .textoredesocial {
        color: #0d0d0d;
        font-size: 15px;
        width: 62px;
        height: 19px;
        margin: 18px 5px 0px 5.51px;
    }
    
    .rodape-total {
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 30px;
    }

}