<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My New Game - Meu carrinho</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/carrinhoDeCompras.css" />
</head>


<body>
    <%- include('./partials/header') %>

    <main>
        <section class="principal">
            <div class="carrinho-de-compras">
                <div class="left">
                    <h1>Carrinho <br> de Compras</h1>
                    <div id="meu-carrinho"><p>Meu carrinho</p></div>
                    <div id="voltar">
                            <button type="button">
                                <a class="botao-home" href="/home"><p>Home</p></a>
                            </button>
                    </div>
                </div>
                <div class="right">
                        <div class="linha1">
                            <div id="produto1"></div>
                            <div id="quantidade1">Quantidade 1</div>
                            <div id="valor-item1"></div>
                            <div id="lixeira1">
                                <form action="/compras/carrinhoDeCompras/deletar?_method=DELETE" method="POST">
                                    <button type="submit"><img src="/assets/images/trash.png" id="icone-lixeira1"></button>
                                </form>
                            </div>
                        </div>
                        <div class="linha2">
                            <div id="produto2">Produto 2</div>
                            <div id="quantidade2">Quantidade 2</div>
                            <div id="valor-item2">Valor item 2</div>
                            <div id="lixeira2">
                                <form action="/compras/carrinhoDeCompras//deletar?_method=DELETE" method="POST">
                                    <button type="submit"><img src="/assets/images/trash.png" id="icone-lixeira2"></button>
                                </form>
                            </div>
                        </div>
                        <div class="linha3">
                            <div id="produto3">Produto 3</div>
                            <div id="quantidade3">Quantidade 3</div>
                            <div id="valor-item3">Valor item 3</div>
                            <div id="lixeira3">
                                <form action="/compras/carrinhoDeCompras/deletar?_method=DELETE" method="POST">
                                    <button type="submit"><img src="/assets/images/trash.png" id="icone-lixeira3"></button>
                                </form>
                            </div>
                        </div>
                        <div class="linha4">
                            <div id="calculo-frete">Calcular Frete</div>
                            <div id="valor-frete">Valor do Frete</div>
                        </div>
                        <div class="linha5">
                            <div id="total">Total</div>
                        </div>
                        <div class="linha6">
                            <div id="comprar-mais">
                                <button type="button">
                                    <a class="button" href="">
                                        <p>Continuar comprando</p>
                                    </a>  
                                </button>
                            </div>
                        </div>
                        <div class="linha7">
                            <div id="finalizar-compra">
                                    <button type="button">
                                        <a class="button" href="">
                                            <p>Finalizar Compra</p>
                                        </a>
                                    </button>   
                            </div>
                        </div>
                </div>
            </div>
        </section>
        <!-- <div class="principal">
            <div class="carrinho-de-compras">
                <div class="paragrafo">
                    <h1>CARRINHO DE COMPRAS</h1>
                </div>
                <div class="meu-carrinho">
                    <P class="paragrafos-meucarrinho">Meu Carrinho</P>
                </div>
                <div class="voltar">
                    <p class="paragrafos-meucarrinho">Voltar pra Home</P>
                </div>

            </div>
            <div class="pedidos">
                <div class="carrinho">
                    <form action="rota que será processada" method="método GET ou POST">
                        <label for="pedido"></label>
                        <input class="campos-produtos" type="text" name="numerodopedido" id="Produto1"
                            placeholder="Produto1">

                            <label for="pedido"></label>
                        <input class="campos-quantidade" type="text" name="valordopedido" id="Quantidade1"
                            placeholder="Quantidade1">

                            <label for="pedido"></label>
                        <input class="campos-valores" type="text" name="datadopedido" id="valoritem1"
                            placeholder="Valor Item1">

                            <label for="pedido"></label>
                            <input class="campos-produtos" type="text" name="numerodopedido" id="Produto2"
                                placeholder="Produto2">

                                <label for="pedido"></label>
                            <input class="campos-quantidade" type="text" name="valordopedido" id="Quantidade2"
                                placeholder="Quantidade2">

                                <label for="pedido"></label>
                            <input class="campos-valores" type="text" name="datadopedido" id="valoritem2"
                                placeholder="Valor Item2">

                                <label for="pedido"></label>
                                <input class="campos-produtos" type="text" name="numerodopedido" id="Produto3"
                                    placeholder="Produto3">      

                                <label for="pedido"></label>
                                <input class="campos-quantidade" type="text" name="valordopedido" id="Quantidade3"
                                    placeholder="Quantidade3">

                                <label for="pedido"></label>
                                <input class="campos-valores" type="text" name="datadopedido" id="valoritem3"
                                    placeholder="Valor Item3">

                        <br><br>

                        <label for="pedido"></label>
                        <input class="campos-produtos" type="text" name="datadopedido" id="calcularfrete"
                            placeholder="Calcular Frete">

                            <label for="pedido"></label>
                                <input class="campos-frete" type="text" name="datadopedido" id="valorfrete"
                                    placeholder="Valore Frete">

                                    <br>

                                    <label for="pedido"></label>
                                <input class="campos-total" type="text" name="datadopedido" id="total"
                                    placeholder="Total">

                        <button class="botao-continuar-compra" type="submit">Comprar mais</button>
                        <button class="botao-finalizar-compra" type="submit">Finalizar compra</button>
                    </form>
                </div>
            </div>
        </div>
        </div> -->
        <!--
        <div class="carrinho-compras">
            <h1>CARRINHO DE COMPRAS</h1>

            <div class="campo-esquerda">
                <div class="links">
                    <div class="meu-carrinho">Meu carrinho</div>
                    <div class="voltar">Voltar para home...</div>
                </div>
            </div>

            <div class="produto1">
                <div id="item1">Item 1</div>
                <div id="qtd1">Qtd...</div>
            </div>

            <div class="produto2">
                <div id="item2">Item 2</div>
                <div id="qtd2">Qtd...</div>
            </div>

            <div class="produto3">
                <div id="item3">Item 3</div>
                <div id="qtd3">Qtd...</div>
            </div>
            <button class="botao-continuar-compra" type="submit">Comprar mais</button>
            <button class="botao-finalizar-compra" type="submit">Finalizar compra</button>
        </div>
    -->

    </main>

    <%- include('./partials/footer') %>

</body>

</html>