<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/theme.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<%- include('./partials/header') %>

<main>
    <div class="painel">        
        <div class="container no-list">
            <img class="d-block w-100" src="/assets/images/erro404.gif" alt="imagem de erro">
        
        </div>
    </div>

</main>


<%- include('./partials/footer') %>
