<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My New Game/Perfil do Usuario/Meus Dados/</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/perfilDoUsuarioMeusDados.css" />
</head>

<body>

    <%- include('./partials/header') %>

        <main>
            <div class="div-pai"> <!--flex wrap - display flex-->
                <div class="perfil-usuario">
                    <h1>PERFIL DO USUÁRIO</h1>
                    <div class="buttons">
                        <a
                            href="#"><button
                                class="meus-dados" placeholder="Meus dados">Meus Dados</button></a>
                        <a
                            href="#"><button
                                class="meu-endereço" placeholder="Meu endereço"> Meu endereço</button>
                            <a
                                href="#"><button
                                    class="historico-pedido" placeholder="Histórico de pedidos"> Histórico de
                                    pedidos</button></a>
                    </div>
                </div>
                <div class="formulario">
                    <div class="area-cadastro">
                        <form action="rota que será processada" method="método GET ou POST">
                            <label for="nome"></label>
                            <input class="campos-formulario" type="text" name="nome" id="nome"
                                placeholder="Digite seu nome completo">
                            <label for="cpf"></label>
                            <input class="campos-formulario" type="text" name="cpf" id="cpf"
                                placeholder="Digite seu CPF">
                            <label for="telefone"></label>
                            <input class="campos-formulario" type="text" name="telefone" id="telefone"
                                placeholder="Digite seu telefone">
                            <label for="email"></label>
                            <input class="campos-formulario" type="email" name="email" id="email"
                                placeholder="Digite seu e-mail">
                            <label for="email"></label>
                            <input class="campos-formulario" type="email" name="email" id="email"
                                placeholder="Confirme seu e-mail">
                            <label for="senha"></label>
                            <input class="campos-formulario" type="password" name="senha" id="senha"
                                placeholder="Crie uma senha">
                            <label for="senha"></label>
                            <input class="campos-formulario" type="password" name="senha" id="senha"
                                placeholder="Confirme sua senha">
                            <br><br>
                            <button class="botao-voltar" type="submit">Voltar</button>
                            <button class="botao-salvar" type="submit">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <%- include('./partials/footer') %>

</body>

</html>