<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My New Game/Login/Inscreva-se/</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/telaLogin.css" />
</head>

<body>

    <%- include('./partials/header') %>

        <main>
            <div class="principal">

                <div class="campo1">
                    <div class="container2">
                        <div class="base2">
                            <h1 class="tenho-conta">JA TENHO UMA CONTA</h1>
                        </div>
                        <form action="/login" method="post" id="form">
                            <div class="input2">
                                <label for="email">E-mail: </label>
                                <input type="email" id="email" placeholder="digite seu e-mail" name="email"/>
                                <i class="fas fa-exclamation-circle"></i>
                                <i class="fas fa-check-circle"></i>
                                <small id="email-error">Mensagem de erro</small>
                            </div>
                            <div class="input2">
                                <label for="password">Senha: </label>
                                <input type="password" id="senha" placeholder="digite a senha" name="senha"/>
                                <i class="fas fa-exclamation-circle"></i>
                                <i class="fas fa-check-circle"></i>
                                <small>Mensagem de erro</small>
                            </div>
                            <button class="botao-entrar" type="submit" value="Entrar">Entrar</button>
                            <input class="botao-esqueci-a-senha" type="button" value="Esqueci a Senha">

                        </form>
                    </div>

                </div>
        </main>
        <script src="script.js"></script>
        <%- include('./partials/footer') %>
        <p style="color: red; margin-bottom: 24px;">
            <%= error ? error : '' %>
        </p>

</body>

</html>