<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My New Game/Login/Inscreva-se/</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/theme.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/telaLogin.css" />
</head>

<body>

    <%- include('./partials/header') %>

    <main>
        <div class="principal">
            <div class="container">
                <div class="base">
                    <h1 class="inscreva-se">INSCREVA-SE</h1>
                </div>

                <div class="campo1">
                    
                    <form action="/login/enter" method="post">
                        <div class="input">
                            <label for="email">E-mail: </label>
                            <input type="email" id="email" placeholder="digite seu e-mail" name="email" required />
                        </div>
                        <div>
                            <button class="botao-continuar" type="submit" value="Continuar">Continuar</button>
                        </div>
                        

                    <div class="container2">
                        <div class="base2">
                            <h1 class="tenho-conta">JA TENHO UMA CONTA</h1>
                        </div>
                        <div class="input2">
                            <label for="email">E-mail: </label>
                            <input type="email" id="email" placeholder="digite seu e-mail" name="email" required />
                        </div>
                        <div class="input2">
                            <label for="password">Senha: </label>
                            <input type="password" id="password" placeholder="digite a senha" name="senha" required />
                        </div>
                        <button class="botao-entrar" type="submit" value="Entrar">Entrar</button>
                        <input class="botao-esqueci-a-senha" type="button" value="Esqueci a Senha">
                    
                    </form>                    
                </div>
                
            </div>
    </main>

    <%- include('./partials/footer') %>
    
</body>

</html>