<footer>
    <div class="rodape-total">
        <div class="logo-rodape">
            <img src="/assets/images/imagensFooter/Icone Rodape.png" alt="logo-rodape">
        </div>
        <div class="box-1">
            <h4 class="titulos">Sobre</h4>
            <p class="sobre">doloremque. Perferendis voluptatum officia aspernatur voluptates ut, voluptatem animi.
                Nemo
                error perferendis sint recusandae ipsam tempore iure quod vitae temporibus.</p>
        </div>
        <div class="box-2">
            <h4 class="titulos">Desenvolvedores</h4>
            <ul class="desenvolvedores">
                <li class="lista-desenvolvedores"><a href="#">Bruno</a></li>
                <li class="lista-desenvolvedores"><a href="#">Felipe</a></li>
                <li class="lista-desenvolvedores"><a href="#">Guilherme</a></li>
                <li class="lista-desenvolvedores"><a href="#">Maurício</a></li>
                <li class="lista-desenvolvedores"><a href="#">Joao</a></li>
            </ul>
        </div>
        <div class="box-3">
            <h4 class="titulos">Escola Parceira</h4>
            <a href="https://www.linkedin.com/school/digital-house-brasil/"><img class="logodh"
                    src="/assets/images/imagensFooter/logodh.png" alt="Digital House"></a>
        </div>
    </div>
    <div class="redes-sociais">
        <div class="icones-redessociais">
            <a target="#" href="#">
                <img src="/assets/images/imagensFooter/Icone Facebook.png" alt="Icone Facebook">
            </a>
            <span class="textoredesocial">Facebook</span>
            <a target="#" href="#">
                <img src="/assets/images/imagensFooter/Icone Instagram.png" alt="Icone Instagram">
            </a>
            <span class="textoredesocial">Instagram</span>
            <a target="#" href="#">
                <img src="/assets/images/imagensFooter/Icone Youtube.png" alt="Icone Youtube">
            </a>
            <span class="textoredesocial">Youtube</span>
        </div>
    </div>
</footer>