<header>
    <div class="faixa">
            <a href="/home"><img id="imagem-logo" title="My New Game" src="/assets/images/logo.png"
                    alt="logo" /></a>
            <input type="text" id="txtBusca" title="Buscar" placeholder="Buscar..." />

            <div class="campo-ajuda btn-three">
                <a class="button1" href="/faleconosco" id="fale-conosco" title="Fale Conosco">Fale Conosco</a>
                <!-- <img id="seta" src="/assets/images/seta-ajuda.png" alt="seta"> -->
            </div>

            <div class="cadastro btn-three">
                <img id="boneco" src="/assets/images/boneco.png" alt="boneco">
                <a href="/inscricao" id="login" title="Cadastre-se ou faça login">Cadastre-se ou <br> faça login</a>
            </div>

            <div>
                <a class="button" href="/carrinho"> <img id="carrinho" title="Carrinho" src="/assets/images/carrinho.png" alt="carrinho"> </a>
            </div>
    </div>
    <!-- <form method="GET" action="/jogos/genero/:name"> -->
        <div class="segundafaixa">
            <ul class="menu">
                <li class="nav-bar fourth"><a href="/jogos/genero/fps" title="FPS">FPS</a></li>
                <li class="nav-bar fourth"><a href="/jogos/genero/estrategia" title="Estratégia">Estratégia</a></li>
                <li class="nav-bar fourth"><a href="/jogos/genero/esportes" title="Esportes">Esportes</a></li>
                <li class="nav-bar fourth"><a href="/jogos/genero/outros" title="Outros">Outros</a></li>
            </ul>
        </div>
    </form>

</header>