.checkout-pai{
    display: flex;
    justify-content: space-evenly;  
    padding-top: 50px;
}

.title-checkout{
    font-size: 50px;
    color: #FFD760;
    margin-top: 15px;
    text-align: center;
    
}


.item-list-checkout{
    width: 720px;
    height: 550px;
    background-color: #25262C;
    mix-blend-mode: hard-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;

}

/* AREA PIX */

.area-pix{
    width: 420px;
    height: 500px;
    background-color: #25262C;
    mix-blend-mode: hard-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
}

.title-pix{
    width: 350px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 34px 55px 0px 55px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 25px;
}

.qr-code{
    margin: 34px 55px 0px 55px;
    width: 300px;
    height: 300px;
}

.title-scan{
    width: 350px;
    height: 50px;
    background: #FFD760;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 20px;
    padding-top: 3px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.list-items-name{
    margin-left: 25px;
    margin-top: 50px;
    
}

#jogo1{
    width: 300px;
    height: 50px;
    background-color: #FFFFFF;
}

#jogo2{
    width: 300px;
    height: 50px;
    background-color: #FFFFFF;
}

#jogo3{
    width: 300px;
    height: 50px;
    background-color: #FFFFFF;
}

.add-del{
    margin: -182px 0px 0px 380px;
}

#add-del-1{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
}

#add-del-2{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
}

#add-del-3{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
}

.valor-item{
    margin: -182px 0px 0px 500px;
}

#valor-1{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
}

#valor-2{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
}

#valor-3{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
}

#icone-delete1{
    margin: -335px 0px 0px 615px;
}

#icone-delete2{
    margin: -120px 0px 0px 615px;
}

#icone-delete3{
    margin: -300px 0px 0px 615px;
}