/*
.topo {
    color: white;
}
.carrinho-compras {
    
    width: 1216px;
    height: 730px;
    background-color: #25262C;
    margin: 160px 112px 160px 112px;
}
.botao-continuar-compra {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    background-color: #FFD760;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    margin-left: 136px;
}

.botao-finalizar-compra {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    background-color: #00FF19;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    margin-left: 10px;
}

h1 {
    margin: 51px 405px 602px 388px;
    width: 320px;
    height: 120px;
    font-size: 50px;
    color: #FFD760;
}

.campo-esquerda .meu-carrinho{
    width: 381px;
    height: 61px;
    border: #00FF19;
}
.campo-esquerda .voltar{
    width: 223px;
    height: 38px;
}

-----------------------*/

.principal {
    width: 1297px;
    height: 732px;
    background-color: #25262C;
    margin: 100px 71px 100px 71px;
}

.paragrafo{
    font-size: 50px;
    color: #FFD760;
    margin: 35px 67.5px 86px 58px;
    display: inline-flex;
}

.meu-carrinho {
    width: 381px;
    height: 61px;
    background-color: white;
    margin: 25px 48px 25px 48px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.voltar {
    width: 381px;
    height: 61px;
    background-color: white;
    margin: 25px 48px 25px 48px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.historico-pedido {
    width: 381px;
    height: 61px;
    background-color: #FFD760;
    margin: 0px 48px 25px 48px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.paragrafos-meucarrinho {
    padding-top: 22px;
    padding-top: 22px;
    font-size: 15px;
}

.pedidos {
    width: 759px;
    height: 633px;
    background-color: #D9D9D9;
    margin: 49.5px 48px 49.5px 10px;
    border-radius: 45px;
}

.principal {
    display: inline-flex;
}

.carrinho{
    display: flex;
    flex-direction: column;
}

.carrinho .campos-produtos {
    width: 281px;
    height: 61px;
    margin: 25px 31px 0px 31px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

.carrinho .campos-quantidade {
    width: 117px;
    height: 61px;
    margin: 25px 16px 0px 16px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

.carrinho .campos-valores {
    width: 117px;
    height: 61px;
    margin: 25px 16px 0px 16px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

.campos-frete{
    width: 261px;
    height: 61px;
    margin: 25px 0px 0px 14px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

.campos-total{
    width: 261px;
    height: 61px;
    margin: 21px 70px 33px 370px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

.botao-continuar-compra {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    background-color: #FFD760;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    margin-left: 136px;
}



.botao-finalizar-compra {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    background-color: #00FF19;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    margin-left: 10px;
}